@charset "UTF-8";
/* detail css */
/* 상품상세페이지 상단 */
.detail_div {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid #000;
  padding-top: 30px;
}

.detail .title_store {
  padding: 10px 0;
}
.detail .title_store span {
  padding-right: 3px;
}
.detail .title_store .accent {
  color: #0231a6;
}
.detail .title_store .fa-house {
  color: #bbb;
}
.product_img img {
  width: 100%;
  text-align: center;
  margin: 120px 0;
}

.form {
  width: 300px;
}
/* 상품상세 이미지 */
.title_price {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-bottom: 23px;
}
/* 하트 아이콘 */
.icon .fa-heart:hover {
  color: red;
  transition: 0.5s;
}
/* 공유 아이콘 */
.icon .fa-share-nodes:hover {
  color: red;
  transition: 0.5s;
}
/* 쿠폰 관련 태그 */
.title_coupon {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #757575;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  align-items: center;
}
/* 쿠폰받기 버튼 */
.title_coupon .coupon1 {
  border: 1px solid #000;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
/*  쿠폰받기 버튼 후버 */
.title_coupon .coupon1:hover {
  background-color: blueviolet;
  color: #fff;
  transition: 0.5s;
}
/*  쿠폰 내용 색 강조 */
.title_coupon .accent_red {
  color: red;
}

.title_daytext {
  line-height: 40px;
  display: block;
  border-top: 1px solid #f0f0f0;
  line-height: 40px;
  box-shadow: 5px 5px #f0f0f0;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.title_daybox {
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 5px 5px #f0f0f0;
}
.dday {
  width: 180px;
  text-align: center;
}
.ddday {
  width: 250px;
}
.dayday1 {
  line-height: 100px;
  font-weight: bold;
}
.dayday2 {
  line-height: 100px;
  text-align: center;
  font-size: 11px;
}
.title_daybox .dayday {
  display: flex;
  height: 100px;
  justify-content: space-between;
}
.ddday .gauge {
  font-size: 13px;
}
.ddday span {
  display: inline-block;
}
.title_daybox .dayinfo {
  border-top: 1px solid #f0f0f0;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
}
.title_price .price span::after {
  content: "원";
}
/* 혜택 및 결제목록 */
.title_name {
  display: block;
  border-top: 1px solid #f0f0f0;
  line-height: 40px;
  box-shadow: 5px 5px #f0f0f0;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}
/* 혜택 및 결제목록 글자 강조 */
.title_name .accent {
  color: blueviolet;
}
.title_name:last-child {
  border-bottom: 1px solid #f0f0f0;
}
/* 배너 */
.banner {
  position: relative;
  text-align: center;
}
/* 배너 이미지 크기 */
.banner img {
  width: 400px;
}
/* 상세설명,구매후기,상품문의 박스 */
.tab ul {
  display: flex;
  color: #fff;
  background-color: #333333;
  margin: 50px 0 10px 0;
  height: 60px;
  text-align: center;
  align-items: center;
  font-size: 21px;
  justify-content: center;
  padding: 0 100px;
  border: 1px solid #000;
  font-family: "Noto Sans KR", sans-serif;
}
/* 상세설명,구매후기,상품문의 */
.tab ul li {
  padding: 0 50px 5px 50px;
  letter-spacing: 3px;
  height: inherit;
  line-height: 60px;
}
/* 카테고리 a태그 크기 */
.tab ul li a {
  display: inline-block;
  height: inherit;
}
/* 카테고리 a 후버하면 밑줄 */
.tab ul li a:hover {
  border-bottom: 5px solid #e63740;
}
/* 카테고리 각각 */
.tab span {
  padding: 0px 30px;
}
/* 상품 설명 이미지 */
.detail_photo img {
  width: 980px;
}
/* 수량, 버튼, 최종금액 박스 */
.result {
  background-color: #f9f9f9;
  padding: 0px 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px #f0f0f0;
  font-family: "Noto Sans KR", sans-serif;
}
/* 버튼 및 금액 박스 */
.total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
}
/* 버튼 박스 */
.item_result {
  display: flex;
}
/* 수량 input 스타일 */
.total .item_result input {
  width: 45px;
  height: 32px;
  border: 1px solid #ddd;
}
/* 수량 플러스 마이너스 스타일 */
.item_result button {
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 25px;
  width: 35px;
  height: 34px;
}
/* 마이너스 버튼 반지름*/
.item_result .item_minus {
  border-radius: 10px 0px 0px 10px;
}
/* 플러스 버튼 반지름*/
.item_result .item_plus {
  border-radius: 0px 10px 10px 0px;
}
/* 수량 스타일 */
.item_number {
  height: 50px;
  line-height: 50px;
  letter-spacing: 10px;
  font-weight: 500;
  font-size: 18px;
}
/* 상품 금액 */
.price_result {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}
/* 수량에맞는 최종금액 스타일 */
.total_price {
  display: flex;
  justify-content: space-between;
  height: 70px;
  line-height: 70px;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
}
.price_result span::after {
  content: "원";
}
.total_price .reprice::after {
  content: "원";
}
/* 수량 스타일 */
.item_input {
  text-align: center;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
}
.item_result button:hover {
  background-color: #000;
  color: #fff;
}
/* 버튼*/
.btn {
  display: flex;
  justify-content: space-between;
}
/* 버튼 스타일 선물하기,장바구니,구매하기*/
.btn button {
  border-radius: 10px;
  border: 1px solid #e63740;
  font-size: 16px;
  height: 40px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 25px;
  cursor: pointer;
  width: 32%;
  margin-right: 5px;
}
/* 선물하기 버튼 */
.btn .gift {
  width: 120px;
  color: #e63740;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 5px;
}
/* 장바구니 버튼 */
.btn .cart {
  color: #e63740;
  width: 170px;
  background-color: rgba(0, 0, 0, 0);
}
/* 구매하기 버튼 */
.btn .buy {
  width: 170px;
  background-color: rgba(0, 0, 0, 0);
  color: #e63740;
}
/* 버튼 후버 */
.btn .gift:hover,
.btn .cart:hover,
.btn .buy:hover {
  background-color: #e63740;
  color: #fff;
}
