@charset "UTF-8";
/* detail css */
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}

.row {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}
/* 상품상세페이지 상단 */
.detail_div {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid #000;
  padding-top: 15px;
}
.detail .title_store {
  padding-bottom: 10px;
}
.detail .title_store span {
  padding-right: 3px;
}
.detail .title_store .accent {
  color: #0231a6;
}
.detail .title_store .fa-house {
  color: #bbb;
}
.product_ifm {
  width: 1000px;
}
.product_img {
  width: 1000px;
  height: 600px;
  text-align: center;
  margin: 120px 0;
}
.product_img img {
  width: 100%;
}
.title_price {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-bottom: 23px;
}
.icon .fa-heart:hover {
  color: red;
  transition: 0.5s;
}
.icon .fa-share-nodes:hover {
  color: red;
  transition: 0.5s;
}
.title_coupon {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #757575;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  align-items: center;
}
.title_coupon .coupon1 {
  border: 1px solid #000;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
.title_coupon .coupon1:hover {
  background-color: blueviolet;
  color: #fff;
  transition: 0.5s;
}
.title_coupon .accent_red {
  color: red;
}

.title_daytext {
  line-height: 40px;
  display: block;
  border-top: 1px solid #f0f0f0;
  line-height: 40px;
  box-shadow: 5px 5px #f0f0f0;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.title_daybox {
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 5px 5px #f0f0f0;
}
.dday {
  width: 180px;
  text-align: center;
}
.ddday {
  width: 250px;
}
.dayday1 {
  line-height: 100px;
  font-weight: bold;
}
.dayday2 {
  line-height: 100px;
  text-align: center;
  font-size: 11px;
}
.title_daybox .dayday {
  display: flex;
  height: 100px;
  justify-content: space-between;
}
.ddday .gauge {
  font-size: 13px;
}
.ddday span {
  display: inline-block;
}
.title_daybox .dayinfo {
  border-top: 1px solid #f0f0f0;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
}
.title_price .price span::after {
  content: "원";
}
/* 목록 */
.title_name {
  display: block;
  border-top: 1px solid #f0f0f0;
  line-height: 40px;
  box-shadow: 5px 5px #f0f0f0;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.title_name .accent {
  color: blueviolet;
}
.title_name:last-child {
  border-bottom: 1px solid #f0f0f0;
}

.banner {
  position: relative;
  text-align: center;
}
.banner img {
  width: 400px;
}
.tab ul {
  display: flex;
  color: #fff;
  background-color: #333333;
  margin: 50px 0 10px 0;
  height: 60px;
  text-align: center;
  align-items: center;
  font-size: 21px;
  justify-content: center;
  padding: 0 100px;
  border: 1px solid #000;
  font-family: "Noto Sans KR", sans-serif;
}
.tab ul li {
  padding: 0 50px 5px 50px;
  letter-spacing: 3px;
  height: inherit;
  line-height: 60px;
}
.tab ul li a {
  display: inline-block;
  height: inherit;
}
.tab ul li a:hover {
  border-bottom: 5px solid #e63740;
}
.tab span {
  padding: 0px 30px;
}

.detail_photo img {
  width: 980px;
}
.total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
}
.result {
  background-color: #f9f9f9;
  padding: 0px 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px #f0f0f0;
  font-family: "Noto Sans KR", sans-serif;
}
.item_result {
  display: flex;
}
.total .item_result input {
  width: 45px;
  height: 32px;
  border: 1px solid #ddd;
}
.item_result button {
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 25px;
  width: 35px;
  height: 34px;
}
.item_result .item_minus {
  border-radius: 10px 0px 0px 10px;
}
.item_result .item_plus {
  border-radius: 0px 10px 10px 0px;
}
.item_number {
  height: 50px;
  line-height: 50px;
  letter-spacing: 10px;
  font-weight: 500;
  font-size: 18px;
}
.price_result {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  content: "";
}

.total_price {
  height: 70px;
  line-height: 70px;
  text-align: right;
  font-size: 35px;
  font-weight: bold;
}

/* 버튼 */
.btn {
  display: flex;
  justify-content: space-between;
}
.btn button {
  border-radius: 10px;
  border: 1px solid #e63740;
  font-size: 16px;
  height: 40px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 25px;
}
.btn .gift {
  width: 120px;
  color: #e63740;
  background-color: rgba(0, 0, 0, 0);
}
.btn .cart {
  color: #e63740;
  width: 170px;
  background-color: rgba(0, 0, 0, 0);
}
.btn .buy {
  width: 170px;
  background-color: #e63740;
  color: #fff;
}
