@charset "UTF-8";
/* detail css */
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}

.row {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}
/* 상품상세페이지 상단 */
.detail {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid #000;
  padding-top: 30px;
}
.detail .title_store {
  padding-bottom: 10px;
}
.detail .title_store span {
  padding-right: 3px;
}
.detail .title_store .accent {
  color: #0231a6;
}
.detail .title_store .fa-house {
  color: #bbb;
}
.product_ifm {
  width: 1000px;
}
.product_img img {
  width: 550px;
  height: 600px;
}
.title_price {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin-bottom: 27px;
}
.icon .fa-heart:hover {
  color: red;
  transition: 0.5s;
}
.icon .fa-share-nodes:hover {
  color: red;
  transition: 0.5s;
}
.title_coupon {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #757575;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  align-items: center;
}
.title_coupon .coupon1 {
  border: 1px solid #000;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  width: 80px;
  text-align: center;
  cursor: pointer;
}
.title_coupon .coupon1:hover {
  background-color: blueviolet;
  color: #fff;
  transition: 0.5s;
}
.title_coupon .accent_red {
  color: red;
}

.title_daytext {
  line-height: 40px;
  display: block;
  border-top: 1px solid #f0f0f0;
  line-height: 40px;
  box-shadow: 5px 5px #f0f0f0;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.title_daybox {
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 5px 5px #f0f0f0;
}
.dday {
  width: 180px;
  text-align: center;
}
.ddday {
  width: 250px;
}
.dayday1 {
  line-height: 100px;
  font-weight: bold;
}
.dayday2 {
  line-height: 100px;
  text-align: center;
  font-size: 11px;
}
.title_daybox .dayday {
  display: flex;
  height: 100px;
  justify-content: space-between;
}
.ddday .gauge {
  font-size: 13px;
}
.ddday span {
  display: inline-block;
}
.title_daybox .dayinfo {
  border-top: 1px solid #f0f0f0;
  font-size: 11px;
  line-height: 30px;
  text-align: center;
}

/* 목록 */
.title_name {
  display: block;
  border-top: 1px solid #f0f0f0;
  line-height: 40px;
  box-shadow: 5px 5px #f0f0f0;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.title_name .accent {
  color: blueviolet;
}
.title_name:last-child {
  border-bottom: 1px solid #f0f0f0;
}

.banner {
  position: relative;
  text-align: center;
}
.banner img {
  width: 400px;
}

.tab {
  display: flex;
  color: #fff;
  background-color: #333333;
  margin: 50px 0 10px 0;
  height: 80px;
  align-items: center;
  font-size: 20px;
  justify-content: center;
}
.tab span {
  padding: 0px 30px;
}

.detail_photo img {
  width: 980px;
}
.btn {
  display: flex;
  justify-content: space-between;
}
.btn button {
  border-radius: 10px;
}
.btn .cart {
  background-color: #fff;
  border: 1px solid #000;
  width: 210px;
  height: 45px;
  font-size: 22px;
  font-weight: bold;
}
.btn .buy {
  background-color: #e63740;
  border: 1px solid #000;
  width: 210px;
  height: 45px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
