@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* input 클릭시 안에 테두리 제거 */

b {
  font-weight: bold;
}
ul li {
  list-style: none;
}
h2 {
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 23px;
}
/* body 배경화면 */
body {
  background-image: url(../images/HEADER/body_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* 배너 이미지 넘기기 크기 */
.wrap_img {
  max-width: 980px; /*  배너 크기 */
  overflow: hidden; /* 크기에 넘어가있는 이미지 숨기기 */
  position: relative;
  height: 408px; /*  이미지 높이 */
}
/* 이미지 */
.wrap_img ul {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}
/* 넘기는 버튼  */
.wrap_img .mbtn {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 100%;
  top: 40%;
}
.wrap_img .mbtn button {
  font-size: 35px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0 15px;
}

/* 페이지 크기 */
#wrap_store {
  background-color: #fff;
  max-width: 980px;
  margin: 0 auto;
}

.item_img {
  position: relative;
  overflow: hidden;
}
/* 아이콘 및 배경 투명 및 불투명 */
.item_img .back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  font-size: 40px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s;
}
.item_img .back a {
  margin: 0 10px;
}
.item_img .back .fa-search:hover {
  color: #e63740;
}
.item_img .back .fa-cart-shopping:hover {
  color: #e63740;
}
/* 후버했을때 보여지기 */
.item_img .back:hover {
  opacity: 1;
}

/* 리그오브레전드 로고 */
#riot-store {
  position: absolute;
  top: 32px;
  left: 0px;
  width: 150px;
  height: 52px;
}
/* 발로란트 로고 */
#Valorant {
  position: absolute;
  top: 25px;
  left: 150px;
  width: 90px;
  height: 62.63px;
}
/* 라이엇스토어 로고 */
#riot-store_logo {
  display: inline-block;
  max-width: 467px;
  padding-top: 33px;
  padding-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
/* 라이엇스토어 로고이미지 크기 */
.wrap_head .lol_logo .riot-store_logoimg {
  display: inline-block;
  width: 285px;
}
/* nav 카테고리 */
.wrap_nav {
  position: relative;
  background-color: #000;
  padding: 0 20px 0 20px;
}
/* nav 카테고리 list 크기 */
.wrap_nav .nav_list {
  height: 60px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
/* nav 카테고리 a 크기 */
.wrap_nav .nav_list a {
  color: #fff;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  margin-top: 5px;
  font-weight: bold;
}
/* nav 카테고리 후버 했을때. */
.wrap_nav .nav_list a:hover {
  border: 1px solid #fff;
  color: #fff;
  outline-style: solid;
  box-shadow: 0 0 0 4px #fff;
  transition: 0.7s;
  background-color: #fff;
  color: #000;
}
.wrap_nav .nav_list span {
  margin: 0 40px;
}

/* 상품목록(special_goods */
.wrap_good .title1_h2 {
  text-align: center;
  height: 68px;
  line-height: 68px;
}

/* 옵션 new  */
.wrap_good_items {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 7px 6px 0 6px;
}

/* 스페셜상품 3개 리스트 크기 */
.wrap_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap_item .item_img {
  height: 231px;

  display: flex;
  align-items: center;
}
.wrap_item .item_img img {
  height: 100%;
}

.wrap_item li {
  margin: 10px 0;
}
.wrap_item > li {
  width: 24%;
}

.item_name b::after {
  content: "원";
}
/* NEW 박스 */
.wrap_good_items .box_item .option {
  background-color: rgb(245, 185, 17);
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: block;
  position: absolute;
  width: 45px;
  height: 45px;
  z-index: 1;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 상품 이름 및 가격 */
.wrap_good_items .item_name {
  position: relative;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 74px;
  text-align: center;
  font-size: 14px;
  color: #696969;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* 이미지 크기 */
.wrap_good_items .item_img img {
  width: 100%;
}
